<header class="bg-[url('/images/minimal-1.jpg')] min-h-90 bg-cover bg-center text-white">
    <div class="uppercase flex justify-between items-center">
        <nav class="space-x-9">
            <a href=""> Nav 1 </a>
            <a href=""> Nav 2 </a>
            <a href=""> Nav 3 </a>
        </nav>
        <div class="shrink-0">
            <h2 class="font-serif"> LOGO </h2>
        </div>
        <nav class="space-x-9">
            <a href=""> Nav 1 </a>
            <a href=""> Nav 2 </a>
            <a href=""> Nav 3 </a>
        </nav>
    </div>
        <div class="grid justify-center align-middle">
            <h1 class="uppercase text-7xl"> this is a heading </h1>
            <h3 class="text-xl capitalize"> this is a subheading</h3>
        </div>



</header>

