<!-------------------- Footer ------------------->
<footer class="md:flex text-center md:text-left bg-pink-200 items-end justify-between uppercase p-5p">
    <div class="flex gap-10 justify-center md:justify-start font-sans">
        <div class="p-3">
            <h4 class="mb-2"> Lorem ipsum </h4>
            <nav class="text-sm">
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="p-1 block"> Link 1 </a>
           </nav>
        </div>
        <div class="p-3">
            <h4 class="mb-2"> Lorem ipsum </h4>
            <nav class="text-sm">
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="mb-2 p-1 block"> Link 1 </a>
                <a href="" class="p-1 block"> Link 1 </a>
           </nav>
        </div>
    </div>
   
    <form class="col-span-2 mt-3">
        <label for="name" class="tracking-widest"> Subscribe to our newsletter </label>
        <input id="name" name="name" type="text"  class="mt-3 border-black border">
        <input type="submit" value="SUBSCRIBE"  class="bg-gray-500 mt-5 w-min ml-auto text-white cursor-pointer">
    </form>
</footer>